BE_KEY=""
BE_PORT="3001"
BE_URL="http://localhost:3001"
BETTER_AUTH_SECRET=""
FE_PORT="3000"
FE_URL="http://localhost:3000"
NAME=""
NEON_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
JWT_SECRET=""
R2_ACCESS_KEY_ID=""
R2_ACCOUNT_ID=""
R2_BUCKET_NAME=""
R2_PUBLIC_URL=""
R2_SECRET_ACCESS_KEY=""
SMTP_HOST=""
SMTP_PASS=""
STMP_PORT="587"
SMTP_USER=""
USER_ICON_MB_MAX=2